<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>issue chat</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="logo">

        </div>
        <div class="search">
            <span><input type="text" name="q" id="q" placeholder="search here"></span>
            <span><input type="button" id="btn_search" value="Search"></span>
        </div>
        <div class="my_information">

        </div>
        <h1>TeamMario</h1>
    </header>
    <nav>
        <div class='sorted_issue_list'>
            <h2>Favourite Issues</h2>
            <ul>
                <li>no search result</li>
                <li>project plan</li>
                <li>how to good mentoring</li>
                <li>software maestro</li>
            <ul>
        </div>
    </nav>
    <section class="container">

    </section>
</body>
</html>

