<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Team-mario</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link href="/static/base.css" rel="stylesheet">
    </head>
    <body>
    <div class="container">

        <div class="row">
            {% block login_block %}
            {% endblock %}
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% block user_info_table %}
                {% endblock %}
            </div>
        </div>

    </div>

    <!-- CDN for bootstrap and jquery js files. -->
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
