{% extends "common/layout.html" %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/custom_layout.css' %}">
{% block contents_container %}
    <div class="waiting">
        <div class="watting_title">대기중</div>
        <br><br><br>
        <ul id="issue_list">
            {% for issue in waiting %}
                <li>
                    <br>
                    <br>
                    <div class="issue_name">Issue Name :
                        <a href="{% url 'issue_detail' issue.issue_name %}" id="0{{ issue.issue_name }}">{{ issue.issue_name }}</a>
                    </div>
                    <div class="issue_user">Issue Content : {{ issue.issue_content }}</div>
                    <div class="issue_user">Assigned : {{ issue.user }}</div>
                    <br>
                    <br>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="fixing">
        <div class="fixing_title">수정중</div>
        <br><br><br>
        <ul id="issue_list">
            {% for issue in fixing %}
                <li>
                    <br>
                    <br>
                    <div class="issue_name">Issue Name :
                        <a href="{% url 'issue_detail' issue.issue_name %}" id="0{{ issue.issue_name }}">{{ issue.issue_name }}</a>
                    </div>
                    <div class="issue_user">Issue Content : {{ issue.issue_content }}</div>
                    <div class="issue_user">Assigned : {{ issue.user }}</div>
                    <br>
                    <br>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="complete">
        <div class="complete_title">완료</div>
        <br><br><br>
        <ul id="issue_list">
            {% for issue in complete %}
                <li>
                    <br>
                    <br>
                    <div class="issue_name">Issue Name :
                        <a href="{% url 'issue_detail' issue.issue_name %}" id="0{{ issue.issue_name }}">{{ issue.issue_name }}</a>
                    </div>
                    <div class="issue_user">Issue Content : {{ issue.issue_content }}</div>
                    <div class="issue_user">Assigned : {{ issue.user }}</div>
                    <br>
                    <br>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
