{% extends "common/base.html" %}
{% block container %}

<div id="messages_list_container">
    <div class="message">
        <div class="message_send_information">
            <span class="message_sender">bbayoung7849</span>
            <span class="message_datetime">4:19 PM</span>
        </div>
        <div class="message_content">contents</div>
    </div>
    <div class="message">
        <div class="message_send_information">
            <span class="message_sender">bbayoung7849</span>
            <span class="message_datetime">4:19 PM</span>
        </div>
        <div class="message_content">contents</div>
    </div>
    <div class="message">
        <div class="message_send_information">
            <span class="message_sender">bbayoung7849</span>
            <span class="message_datetime">4:19 PM</span>
        </div>
        <div class="message_content">contents</div>
    </div>
    <div class="message">
        <div class="message_send_information">
            <span class="message_sender">bbayoung7849</span>
            <span class="message_datetime">4:19 PM</span>
        </div>
        <div class="message_content">contents</div>
    </div>
    <div class="message">
        <div class="message_send_information">
            <span class="message_sender">bbayoung7849</span>
            <span class="message_datetime">4:19 PM</span>
        </div>
        <div class="message_content">contents</div>
    </div>
    <div class="message">
        <div class="message_send_information">
            <span class="message_sender">bbayoung7849</span>
            <span class="message_datetime">4:19 PM</span>
        </div>
        <div class="message_content">contents</div>
    </div>
    <div class="message">
        <div class="message_send_information">
            <span class="message_sender">bbayoung7849</span>
            <span class="message_datetime">4:19 PM</span>
        </div>
        <div class="message_content">contents</div>
    </div>
</div>

<div id="messages_input_container">
    <input type="text" name="msg" id="msg" class="messages_input_box">
</div>
{% endblock %}
