{% extends "common/layout.html" %}
{% block contents_container %}
{% load staticfiles %}
<script src="{% static 'js/message.js' %}"></script>
{% csrf_token %}
<div id="messages_container">
    <div class="message_date">
        September 31
    </div>
    {% for message in messages %}
        <div class="message">
            <div class="message_send_information">
                <span class="message_username">{{ message.username }}</span>
                <span class="message_time">{{ message.time }}</span>
            </div>
            <div class="message_content">{{ message.content }}</div>
            <div class="message_content">
                {% if message.file %}
                    <a href ="{% url 'send_file' message.file.id %}">uploaded a file: {{ message.file.file.name}}</a>
                    <br>
                    <img class="file_upload_image" data-real-src="{% url 'send_file' message.file.id %}" src="{% url 'send_file' message.file.id %}">
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

<div id="message_hash_container">
    {% for hash_tag in hash_tags %}
        <span class="message_hash_tag_name">#{{ hash_tag.hash_tag_name }}</span>
    {% endfor %}

</div>

<div id="message_input_container">
    <div id="popup_menu" class="popup_menu" style="display:none">
        <ul class="menu_items">
            <li><a href="#" onclick="return false" id="item_upload_file">Upload a file</a></li>
            <li><a href="#" onclick="return false" id="item_add_hash_tag">Add Hash Tags</a></li>
        </ul>
    </div>
    <span id="btn_plus" class="message_input_plus">+</span>
    <span class="message_input_area">
        <input type="text" name="msg" id="msg" class="message_input_box">
    </span>
</div>


<div id="FileUploadModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:10%;">&times;</button>
                <h4 id="issue_title" class="modal-title">File Upload</h4>
            </div>
            <div class="modal-body">
                <form action="/issue/file/add" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ file_form }}
                    <button type="submit" class="btn btn-primary" id="btn_file_submit">Upload</button>
                </form>
            </div>

        </div>
    </div>
</div>
<div id="HashTagAddModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:10%;">&times;</button>
                <h4 id="issue_title" class="modal-title">Add Hash Tags</h4>
            </div>
            <div class="modal-body">
                <form action="/issue/hash_tag/add" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ hash_tag_form }}
                    <button type="submit" class="btn btn-primary" id="btn_hash_tag_submit">Upload</button>
                </form>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        last_primary_key = {{ last_primary_key }}
        selected_issue_name = '{{ issue.issue_name }}'
    });
</script>
{% endblock %}
