#wrap #header{
    width:100%;
    height:80px;
    min-width:800px;
    position:fixed;
    z-index:2;
    border-bottom:3px solid #f0bf2f;

}
body.search {
    background: #eee;
}
#wrap #header .logo{
    float:left;
    width:250px;
    height:80px;
    margin-left: 20px;
    margin-top: 13px;
}
#wrap #header .logo h1{
    color:#fff;
    width:250px;
    text-align:center;
    margin-top:20px;
}
#wrap #header .search form{
    background-color:#fff;
}
#wrap #header .search_form{
    float:left;
    width:168px;
    height:32px;
    border:3px solid #f0bf2f;
    margin-top:20px;
    margin-left:60px;
    background-color:#fff;
    color: #f0bf2f;
}
#wrap #header .search_submit{
    float:left;
    width:80px;
    height:32px;
    margin-top:20px;
    margin-left:-5px;
    background-color:#fff;
}
#wrap #header .search input[type="submit"]{
    height:32px;
    border:3px solid #f0bf2f;
    color: #f0bf2f;
    background-color:#fff;
}
#btn_information{
    margin-top: 23px;
    float:right;
    width: 200px;
    height: 30px;
    background-repeat: no-repeat;
    background-image: url(../images/my_information.png);
}
#wrap #header .my_information{
    float:right;
    margin:30px;
    color:#666;
}
#wrap #nav{
    position:fixed;
    width:250px;
    height:100%;
    margin-top:80px;

}
#wrap #nav .btns, .sorted_issues{
    background-color:#323334;
    border-right:3px solid #f0bf2f;
}
#wrap #nav .sorted_issues{
    padding:30px 0 0 20px;
    width:250px;
    height:100%;
}
#wrap #nav h2{
    font-size:18px;
    color:#bfb4be;
}
#wrap #nav ul{
    list-style:none;
    margin-top:10px;
}
#wrap #nav ul li{
    margin-left:10px;
    padding:3px 0;
    color:#ab9ba9;
}
#wrap #nav ul li a:link, #wrap #nav ul li a:hover, #wrap #nav ul li a:visited{
    color:#ab9ba9;
    text-decoration:underline;
}
#wrap #container{
    position:relative;
    margin-left:250px;
    padding:60px 10px 10px 10px;
}
#default_view{
    margin-top: 40px;
    margin-left: 60px;
}
#search_area{
    margin-top: 40px;
    margin-left: 60px;
}
#messages_container{
    margin-top:40px;
    margin-left: 30px;
    margin-bottom:80px;
}
#messages_container .message{
    padding-top:20px;
}
#messages_container .message_username{
    font-weight:bold;
    color:#333;
    font-size:15px;
    line-height:22px;
}
#messages_container .message_time{
    color:#ccc;
    font-size:12px;
    line-height:22px;
    padding-left:5px;
}
#messages_container .message_content{
    display:block;
    font-size:15px;
    color:#666;
}

#message_hash_container{
    position:fixed;
    padding:5px 0;
    bottom:7%;
    left:80%;
}
#message_input_container{
    position:fixed;
    height:64px;
    padding:10px 0;
    bottom:0px;
    left:260px;
    right:20px;
    background-color:#fff;
}
#message_input_container span.message_input_plus{
    position:absolute;
    z-index:2;
    width:40px;
    height:40px;
    color:#999;
    font-weight:bold;
    border:2px solid #DDD;
    border-radius:6px 0 0 6px;
    text-align:center;
    font-size:18px;
    padding-top:4px;
    cursor:pointer;
}
#message_input_container span.message_input_plus:hover{
    color:#fff;
    background-color:#664963;
    border:2px solid #664963;
}
#message_input_container span.message_input_area{
    position:absolute;
    width:100%;
    padding-left:40px;
}
#message_input_container span.message_input_area input[type="text"]{
    width:100%;
    height:40px;
    font-size:14px;
    padding:0 10px;
    color:#333;
    border:2px solid #DDD;
    border-radius:0 6px 6px 0;
    border-left:0;
}
.watting_title{
    color: #f0bf2f;
    float: left;
    margin-top: 20px;
    padding-left: 100px;
}
.fixing_title{
    color: #f0bf2f;
    float: left;
    margin-top: 20px;
    padding-left: 120px;
}
.complete_title{
    color: #f0bf2f;
    float: left;
    margin-top: 20px;
    padding-left: 130px;
}
.waiting{
    border-right:3px solid #f0bf2f;
    text-align: center;
    margin-top: 19px;
    margin-left: 28px;
    width: 30%;
    height: 600px;
    float: left;
}
.fixing{
    border-right:3px solid #f0bf2f;
    margin-top: 19px;
    text-align: center;
    margin-left: 28px;
    width: 32%;
    height: 600px;
    float: left;
}
.complete{
    margin-top: 19px;
    text-align: center;
    margin-left: 20px;
    width: 30%;
    float: left;
}
#wrap #nav .post_issue input[type="button"], input[type="submit"], button{
    width:100%;
}
.popup_menu{
    position:absolute;
    z-index:10;
    margin-top:-90px;
    display: inline-block;
    background: #fff;
    box-shadow: 0 3px 7px rgba(0,0,0,.12);
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,.15);
    padding:10px;
}
.popup_menu ul{
    padding:0;
    margin:0;
    list-style:none;
}
.popup_menu ul li{
    margin:2px 0;
}
.popup_menu a:link, .popup_menu a:visited, .popup_menu a:hover{
    display:block;
    width:100%;
    padding:3px 10px;
    border-radius:6px;
    color:#999;
    text-decoration:none;
}
.popup_menu a:hover{
    background-color:#664963;
    color:#fff;
}

.search .form-row #id_content {
    clear: both;
    padding: 6px;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.search span.help {
    font-size: 10px;
    display: block;
}

.search .submit-row {
    clear: both;
    padding: 1em 0 0 9.4em;
}

.search .password-reset-link {
    text-align: center;
}

.left_issue_name{
    float:left;
    width: 400px;
}
.right_issue_content{
    float:left;
    width: 400px;
}
.issue_name{
    float:left;
    color: #f0bf2f;
}
.issue_value{
    float:left;
    margin-left: 10px;
    color: #f0bf2f;
}
.issue_content{
    float:left;
    color: #f0bf2f;
}
.issue_content_value{
    float:left;
    margin-left: 10px;
    color: #f0bf2f;
}
.issue_list_title{
    color: #f0bf2f;
}