html, body, h1, h2, h3, h4, ul, li {
    padding : 0;
    margin : 0;
}
body{
    font-family:Helvetica, arial, sans-serif;
}
#header{
    width:100%;
    height:80px;
    min-width:800px;
    background-color:#f0f0f0;
    position:fixed;
    z-index:2;
}
#header .logo{
    float:left;
    width:250px;
    height:80px;
    background-color:#664963;
}
#header .logo h1{
    color:#fff;
    width:250px;
    text-align:center;
    margin-top:20px;
}
#header .search{
    float:left;
    margin:22px 0 0 30px;
}
#header .search span{
    float:left;
}
#header .search input[type="text"]{
    width:200px;
    height:28px;
    border:1px solid #AAA;
    font-size:14px;
    margin:0;
    padding:0 10px;
}
#header .search input[type="button"]{
    width:80px;
    height:30px;
    border:0px;
    background-color:#AAA;
    margin:0;
    padding:0;
    font-size:14px;
    color:#FFF;
}
#header .my_information{
    float:right;
    margin:30px;
    color:#666;
}
#nav{
    position:fixed;
    width:250px;
    height:100%;
    margin-top:80px;
    background-color:#443242;
}
#nav .sorted_issue_list{
    padding:30px 0 0 20px;
}
#nav h2{
    font-size:18px;
    color:#bfb4be;
}
#nav ul{
    list-style:none;
    margin-top:10px;
}
#nav ul li{
    margin-left:10px;
    padding:3px 0;
    color:#ab9ba9;
}
#nav ul li a:link, #nav ul li a:hover, #nav ul li a:visited{
    color:#ab9ba9;
    text-decoration:underline;
}
#container{
    position:relative;
    margin-left:250px;
    padding:90px 10px 10px 10px;
}
#messages_list_container{
    margin-bottom:50px;
}
#messages_list_container .message{
    padding-top:20px;
}
#messages_list_container .message_sender{
    font-weight:bold;
    color:#333;
    font-size:15px;
    line-height:22px;
}
#messages_list_container .message_datetime{
    color:#ccc;
    font-size:12px;
    line-height:22px;
    padding-left:5px;
}
#messages_list_container .message_content{
    display:block;
    font-size:15px;
    color:#666;
}
#messages_input_container{
    position:fixed;
    height:44px;
    bottom:10px;
    left:260px;
    right:40px;
}
#messages_input_container input[type="text"]{
    width:100%;
    height:40px;
    font-size:14px;
    padding:0 10px;
    color:#333;
    border:2px solid #DDD;
    border-radius:6px;
}
.clearfix:after{
    clear: both;
    content: '';
    display: block;
}
