<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>issue chat</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="{% static 'js/custom.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
        $(function(){
            $("#dialog").dialog({
                autoOpen:false,
                position:[100,200],
                modal:true,
                resizable:false,
                buttons:{
                    "확인":function(){
                        $(this).dialog("close");
                    },"취소":function(){
                        $(this).dialog("close");
                    }
                }
            });
            $("#btn_information").on("click",function(){
                $("#dialog").dialog("open");
            });
        });
    </script>
    <script>
        $(function(){
            $("#team_select_dialog").dialog({
                autoOpen:false,
                position:[100,200],
                modal:true,
                resizable:false,
                buttons:{
                    "확인":function(){
                        $(this).dialog("close");
                    },"취소":function(){
                        $(this).dialog("close");
                    }
                }
            });
            $("#btn_select_team").on("click",function(){
                $("#team_select_dialog").dialog("open");
                var ul = document.getElementById("list");
                {% for team in teams.all %}
                    var text = '{{ team.team_name }}';
                    var li = document.createElement("li");
                    li.setAttribute("id", "element");
                    var a = document.createElement('a');
                    var linkText = document.createTextNode(text);
                    a.appendChild(linkText);
                    a.title = text;
                    var temp_href = "/team/detail/";
                    a.href = temp_href+text;
                    li.appendChild(document.body.appendChild(a));
                    ul.appendChild(li);
                {% endfor %}
            });
            $('#team_select_dialog').on('dialogclose', function(event) {
                var ul = document.getElementById("list");
                while(ul.firstChild ){
                    ul.removeChild(ul.firstChild);
                }
            });
        });
    </script>
</head>
<body>
    <div id="wrap" class="clearfix">
        <div id="header" class="clearfix">
            <div class="logo">
                <h1>TeamMario</h1>

            </div>
            <div class="search">
                <span><input type="text" name="q" id="q" placeholder="search here"></span>
                <span class="clearfix"><input type="button" id="btn_search" value="Search"></span>
            </div>
            <div class="my_information">
                <span class="clearfix"><input type="button" id="btn_information" value="my_information"></span>
            </div>
            <script type="text/javascript">
                var csrftoken;
                $(function() {
                    $('#btn_search').click(function(){
                        send_search($("#q").val());
                    });
                });
                function send_search(msg){
                    csrftoken = $("input[name*='csrfmiddlewaretoken']").val();

                    $.ajax({
                        type: 'POST',
                        url: '/team/search',
                        data: {content: msg},
                        cache: false,
                        beforeSend:function(xhr){
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        },
                        success: function(response) {
                            var ul = document.getElementById("search_list");
                            console.log(response.length);
                            for(var cnt=0; cnt<response.length; cnt++) {
                                var text = response[cnt].issue_name;
                                var li = document.createElement("li");
                                var element_id = "element"+cnt;
                                li.setAttribute("id", element_id);
                                var a = document.createElement('a');
                                var linkText = document.createTextNode(text);
                                a.appendChild(linkText);
                                a.title = text;
                                var temp_href = "/team/detail/";
                                a.href = temp_href+text;
                                li.appendChild(document.body.appendChild(a));
                                ul.appendChild(li);
                            }
                        },
                        failure: function(response) {
                            alert('sorry, insert error. please try again');
                        },
                        complete: function(response){
                            console.log(JSON.stringify(response));
                            $("#q").val("");
                        },
                    });
                }
            </script>

        </div>
        <div id="nav">
            <div class='btns'>
                <button type="button" id="btn_create_team" class="btn btn-lg btn-primary">Create Team</button>
                <button type="button" id="btn_create_issue" class="btn btn-lg btn-primary">Add Issue</button>
                <button type="button" id="btn_select_team" class="btn btn-lg btn-primary">Select Team</button>
                {% block post_issue_block %}
                {% endblock %}
            </div>

            <div class='sorted_issues'>
                <h2>Favourite Issues</h2>
                <ul>
                    {% for issue in issues.all %}
                        <li><a href="{% url 'issue_detail' issue.issue_name %}" id="{{ issue.issue_name }}">{{ issue.issue_name }}</a></li>
                    {% endfor %}
                </ul>

            </div>
        </div>
        <div id="create-team-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:10%;">&times;</button>
                        <h4 id="team_title" class="modal-title">Create a team</h4>
                    </div>
                    <div class="modal-body">
                        <form action="../../team/create" method="post">
                            {% csrf_token %}
                            {{ team_form }}
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="btn_create_team_submit">Create a team</button>
                        </form>
                    </div>
                    <br><br><br>
                    <div>
                        <form action="/issue/file/add" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ file_form }}
                            <button type="submit" class="btn btn-primary" id="btn_file_submit">Upload</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="create-issue-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:10%;">&times;</button>
                        <h4 id="issue_title" class="modal-title">Create A Issue</h4>
                    </div>
                    <div class="modal-body">
                        <form action="../../issue/create" method="post">
                            {% csrf_token %}
                            {{ issue_form }}
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="btn_create_issue_submit">Create a issue</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div id="container">
            <ul id="search_list">
            </ul>
            {% block container %}
            {% endblock %}
        </div>
    </div>

    <div id="dialog" title="My Information">
        <ul>
            <li><a id="btn_logout" href="/accounts/logout/">Logout</a></li>
            <li><a id="btn_change_password" href="/accounts/change_password/">Change Password</a></li>
        </ul>
    </div>

<div id="team_select_dialog" title="Select Team">
    <ul id="list">
    </ul>
</div>
</body>
</html>
