<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>issue chat</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="{% static 'js/custom.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
        $(function(){
            $("#dialog").dialog({
                autoOpen:false,
                position:[100,200],
                modal:true,
                resizable:false,
                buttons:{
                    "확인":function(){
                        $(this).dialog("close");
                    },"취소":function(){
                        $(this).dialog("close");
                    }
                }
            });
            $("#btn_information").on("click",function(){
                $("#dialog").dialog("open");
            });
        });
    </script>
    <script>
        $(function(){
            $("#team_select_dialog").dialog({
                autoOpen:false,
                position:[100,200],
                modal:true,
                resizable:false,
                buttons:{
                    "확인":function(){
                        $(this).dialog("close");
                    },"취소":function(){
                        $(this).dialog("close");
                    }
                }
            });
            $("#btn_invite").on("click",function(){
                $('#create-invite-modal').modal('toggle');
            });
            $("#btn_select_team").on("click",function(){
                $("#team_select_dialog").dialog("open");
                var ul = document.getElementById("list");
                {% for team in my_teams.all %}
                    var text = '{{ team }}';
                    var li = document.createElement("li");
                    li.setAttribute("id", "element");
                    var a = document.createElement('a');
                    var linkText = document.createTextNode(text);
                    a.appendChild(linkText);
                    a.title = text;
                    var temp_href = "/team/detail/";
                    a.href = temp_href+text;
                    li.appendChild(document.body.appendChild(a));
                    ul.appendChild(li);
                {% endfor %}
            });
            $('#team_select_dialog').on('dialogclose', function(event) {
                var ul = document.getElementById("list");
                while(ul.firstChild ){
                    ul.removeChild(ul.firstChild);
                }
            });
        });
    </script>
</head>
<body>
<div id="wrap" class="clearfix">
    <div id="header" class="clearfix">
        <div class="logo">
            <h1>TeamMario</h1>

        </div>
        <div class="search">
            <form action="/team/search" method="post">
                {% csrf_token %}
                {{ search_form }}
                <span class="clearfix"><button type="submit" value="Search" id="btn_search">Search</button></span>
            </form>
        </div>
        <div class="my_information">
            <span class="clearfix"><input type="button" id="btn_information" value="my_information"></span>
        </div>

    </div>
    <div id="nav">
        <div class='btns'>
            <button type="button" id="btn_create_team" class="btn btn-lg btn-primary">Create Team</button>
            <button type="button" id="btn_create_issue" class="btn btn-lg btn-primary">Add Issue</button>
            <button type="button" id="btn_select_team" class="btn btn-lg btn-primary">Select Team</button>
            <form action="/issue/list" method="post">
                {% csrf_token %}
                <button class="btn btn-lg btn-primary" type="submit" value="Issues" id="btn_issues">Issues</button>
            </form>
            <button type="button" id="btn_setting" class="btn btn-lg btn-primary">Setting</button>
            <button type="button" id="btn_invite" class="btn btn-lg btn-primary">Invite</button>
            {% block post_issue_block %}
            {% endblock %}
        </div>

        <div class='sorted_issues'>
            <h2>Favourite Issues</h2>
            <ul>
                {% for issue in issues.all %}
                    <li><a href="{% url 'issue_detail' issue.issue_name %}" id="{{ issue.issue_name }}">{{ issue.issue_name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="create-team-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:10%;">&times;</button>
                    <h4 id="team_title" class="modal-title">Create a team</h4>
                </div>
                <div class="modal-body">
                    <form action="../../team/create" method="post">
                        {% csrf_token %}
                        {{ team_form }}
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="btn_create_team_submit">Create a team</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="create-invite-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:10%;">&times;</button>
                    <h4 id="change_status_title" class="modal-title">Change Status</h4>
                </div>
                <div class="modal-body">
                    <h3>My Teams</h3>
                    <br>
                    <div class="dropdown">
                        <button id="btn_my_teams" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                            <span id="my_teams_title">My Teams</span>
                            <span class="caret"></span>
                        </button>
                        <ul id="ul_my_teams" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            {% for team in my_teams.all %}
                                <li id="{{ team }}" ><a role="menuitem" tabindex="-1">{{ team }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <script>
                        $(function(){
                            var team;
                            var user;
                            function update_user(users) {
                                $.each(users, function(key){
                                    var username = users[key].user;
                                    var ul_tag = '<li id=' +username+ '><a role="menuitem" tabindex="-1">' + username + '</a></li>';
                                    $("#ul_users").append(ul_tag);
                                });
                            }
                            $('#ul_my_teams').on("click", 'li', function (event) {
                                team = $(event.target).text();
                                $('#my_teams_title').text(team);
                                get_users(team);
                            });
                            $('#ul_users').on("click", 'li', function (event) {
                                user = $(event.target).text();
                                $('#add_user_title').text(user);
                            });
                            $('#btn_invite_submit').click(function(){
                                if(team != null && user != null) {
                                    $('#create-invite-modal').modal('hide')
                                    invite_user(team, user);
                                }
                                else {
                                    alert("Select item");
                                }
                            });
                            function get_users(team){
                                csrftoken = $("input[name*='csrfmiddlewaretoken']").val();

                                $.ajax({
                                    type: 'POST',
                                    url: '/team/get_users',
                                    data: {team: team},
                                    cache: false,
                                    beforeSend:function(xhr){
                                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                    },
                                    success: function(response) {
                                        update_user(response);
                                    },
                                    failure: function(response) {
                                        alert('sorry, insert error. please try again');
                                    },
                                    complete: function(response){
                                        console.log(JSON.stringify(response));
                                    },
                                });
                            }
                            function invite_user(team, user){
                                csrftoken = $("input[name*='csrfmiddlewaretoken']").val();

                                $.ajax({
                                    type: 'POST',
                                    url: '/team/invite',
                                    data: {team: team, user: user},
                                    cache: false,
                                    beforeSend:function(xhr){
                                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                    },
                                    success: function(response) {
                                        alert('success');
                                    },
                                    failure: function(response) {
                                        alert('sorry, insert error. please try again');
                                    },
                                    complete: function(response){
                                        console.log(JSON.stringify(response));
                                    },
                                });
                            }
                        });

                    </script>
                    <br><br>
                    <h3>User</h3>
                    <br>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="btn_add_users" data-toggle="dropdown" aria-expanded="true">
                            <span id="add_user_title">Users</span>
                            <span class="caret"></span>
                        </button>
                        <ul id="ul_users" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        </ul>
                    </div>
                    <br><br>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btn_invite_submit">OK</button>

            <br><br><br>

                </div>
            </div>
        </div>
    </div>
    <div id="create-setting-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:10%;">&times;</button>
                    <h4 id="change_status_title" class="modal-title">Change Status</h4>
                </div>
                <div class="modal-body">
                    <h3>Select Issue</h3>
                    <br>
                    <div class="dropdown">
                        <button id="btn_select_issue" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            <span id="select_issue_title">Select Issue</span>
                            <span class="caret"></span>
                        </button>

                        <ul id="ul_issues" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            {% for issue in issues.all %}
                                <li id="{{ issue.issue_name }}" class="{{ issue.issue_name }}"><a role="menuitem" tabindex="-1">{{ issue.issue_name }}</a></li>
                            {% endfor %}
                            <script>
                                $(function(){
                                    $('#create-setting-modal').on('shown.bs.modal', function() {
                                        var assignment;
                                        var status;
                                        var issue;
                                        $('#ul_issues').on("click", 'li', function (event) {
                                            issue = $(event.target).text();
                                            $('#select_issue_title').text(issue);
                                        });
                                        $('#ul_assignment').on("click", 'li', function (event) {
                                            assignment = $(event.target).text();
                                            $('#assignment_title').text(assignment);
                                        });
                                        $('#ul_status').on("click", 'li', function (event) {
                                            status = $(event.target).text();
                                            $('#status_title').text(status);
                                        });
                                        $('#btn_change_status_submit').click(function(){
                                            if(assignment != null && status != null && issue != null) {
                                                $('#create-setting-modal').modal('hide')
                                                change_status(assignment, status, issue);
                                            }
                                            else {
                                                alert("Select item")
                                            }
                                        });

                                        function change_status(assignment, status, issue){
                                            csrftoken = $("input[name*='csrfmiddlewaretoken']").val();

                                            $.ajax({
                                                type: 'POST',
                                                url: '/issue/change',
                                                data: {assignment: assignment, status: status, issue:issue },
                                                cache: false,
                                                beforeSend:function(xhr){
                                                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                                },
                                                success: function(response) {
                                                    alert('success');
                                                },
                                                failure: function(response) {
                                                    alert('sorry, insert error. please try again');
                                                },
                                                complete: function(response){
                                                    console.log(JSON.stringify(response));
                                                },
                                            });
                                        }
                                    })
                                });
                            </script>
                        </ul>
                    </div>
                    <br><br>
                    <h3>Current Assignment</h3>
                    <br>
                    <div class="dropdown">
                        <button id="btn_assignment" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                            <span id="assignment_title">Current Assignment</span>
                            <span class="caret"></span>
                        </button>
                        <ul id="ul_assignment" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            {% for user in user_list.all %}
                                <li id="{{ user }}" ><a role="menuitem" tabindex="-1">{{ user }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <br><br>
                    <h3>Current Status</h3>
                    <br>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="btn_status" data-toggle="dropdown" aria-expanded="true">
                            <span id="status_title">Status</span>
                            <span class="caret"></span>
                        </button>
                        <ul id="ul_status" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li id="0"><a role="menuitem" tabindex="-1">대기중</a></li>
                            <li id="1"><a role="menuitem" tabindex="-1">수정중</a></li>
                            <li id="2"><a role="menuitem" tabindex="-1">완료</a></li>
                        </ul>
                    </div>
                    <br><br>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btn_change_status_submit">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div id="create-issue-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:10%;">&times;</button>
                    <h4 id="issue_title" class="modal-title">Create A Issue</h4>
                </div>
                <div class="modal-body">
                    <form action="../../issue/create" method="post">
                        {% csrf_token %}
                        {{ issue_form }}
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="btn_create_issue_submit">Create a issue</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="container">
        {% block container %}
        {% endblock %}
    </div>
</div>

<div id="dialog" title="My Information">
    <ul>
        <li><a id="btn_logout" href="/accounts/logout/">Logout</a></li>
        <li><a id="btn_change_password" href="/accounts/change_password/">Change Password</a></li>
    </ul>
</div>

<div id="team_select_dialog" title="Select Team">
    <ul id="list">
    </ul>
</div>
</body>
</html>
