{% extends "common/base.html" %}
{% block custom_layout %}
<style type="text/css">
html, body{
    width: 100%;
    height: 100%;
}
#landing{
    width: 100%;
    height: 100%;
    min-width:1000px;
    background-color: #d44956;
}
#landing #header{
    padding: 20px;
}
.logo{
    float: left;
}
.top_right_btns{
    float: right;
}
.top_right_btns ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.top_right_btns ul li{
    float:left;
    padding-left:10px;
}
.txt_welcome{
    text-align:center;
    padding:100px 0 50px 0;
}
.txt_todo{
    text-align:center;
    padding:20px 0;
}
.landing_imgs{
    text-align:center;
    padding-top:30px;
}
.landing_imgs ul{
    position:relative;
    padding:0;
    margin:0 auto;
    list-style:none;
    width:900px;
}
.landing_imgs ul li{
    width: 300px;
    float:left;
}
.landing_imgs .img{
    width:300px;
    height: 200px;
    display: table-cell;
    text-align:center;
    vertical-align:middle;
}
.landing_imgs .txt{
    padding-top:30px;
}
</style>
{% load staticfiles %}
<div id="landing">
    <div id="header" class="clearfix">
        <div class="logo">
            <a href="/" id="logo"><img src="{% static 'images/logo_white.png' %}" border="0" alt="Cobweb logo"></a>
        </div>
        <div class="top_right_btns">
            <ul>
                <li><a href="/accounts/login/" id="btn_login"><img src="{% static 'images/btn_login_white.png' %}" border="0" alt="login"></a></li>
                <li><a href="/accounts/registration/" id="btn_register"><img src="{% static 'images/btn_registration.png' %}" border="0" alt="registration"></a></li>
            </ul>
        </div>
    </div>
    <div id="container">
        <div class="txt_welcome">
            <img src="{% static 'images/txt_welcome.png' %}" border="0" alt="Welcome to Cobweb">
        </div>
        <div class="txt_todo">
            <img src="{% static 'images/txt_todo.png' %}" border="0" alt="To do">
        </div>
        <div class="landing_imgs">
            <ul>
                <li>
                    <p class="img"><img src="{% static 'images/img_computer.png' %}" border="0" alt="Idea"></p>
                    <p class="txt"><img src="{% static 'images/txt_register.png' %}" border="0" alt="Idea"></p>
                </li>
                <li>
                    <p class="img"><img src="{% static 'images/img_shop.png' %}" border="0" alt="Idea"></p>
                    <p class="txt"><img src="{% static 'images/txt_find.png' %}" border="0" alt="Idea"></p>
                </li>
                <li>
                    <p class="img"><img src="{% static 'images/img_idea.png' %}" border="0" alt="Idea"></p>
                    <p class="txt"><img src="{% static 'images/txt_process.png' %}" border="0" alt="Idea"></p>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        {% for team in my_teams.all %}
            add_team('{{ team }}');
        {% endfor %}
    });
</script>

{% endblock %}
