{% load staticfiles %}
<div id="header" class="clearfix">
    <div class="logo">
        <a href="/" id="logo"><img src="{% static 'images/logo_white.png' %}" border="0" alt="Cobweb logo"></a>
    </div>
    <div class="top_right_btns">
        <ul>
            <li><a href="/accounts/login/" id="btn_login"><img src="{% static 'images/btn_login_white.png' %}" border="0" alt="login"></a></li>
            <li><a href="/accounts/registration/" id="btn_registration"><img src="{% static 'images/btn_registration.png' %}" border="0" alt="registration"></a></li>
        </ul>
    </div>
</div>
