{% extends "common/layout.html" %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/custom_layout.css' %}">
{% block contents_container %}
    <div id="search_area">
        <ul id="search_view">
            {% for issue in searched_list %}
                <li>
                    <br>
                    <br>
                    <div class="issue_name">Issue Name :
                        <a href="{% url 'issue_detail' issue.issue_name %}" id="0{{ issue.issue_name }}">{{ issue.issue_name }}</a>
                    </div>
                    <div class="issue_user">Issue Content : {{ issue.issue_content }}</div>
                    <div class="issue_user">Assigned : {{ issue.user }}</div>
                    <br>
                    <br>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
