<html>
<head>
    <title>Login</title>
</head>
<body>

<h2>Login</h2>
<form method="POST" action=".">
    {% csrf_token %}
    <p><label for="userID">ID</label> {{ form.username }}</p>
    <p><label for="userPWD">Password</label> {{ form.password }}</p>
    <input id="login_btn" type="submit" value="Login" />
</form>

<form method="POST" action="../../register/">
    {% csrf_token %}
    <input id="registration" type="submit" value="Registration" />
</form>

{% if form.errors %}
    <p id="login_error">Invalid id or password</p>
{% endif %}