{% extends "common/base.html" %}
{% block custom_layout %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    <div id="landing" class="landing_login">
        {% include "common/landing_header.html" %}
        <div id="container">
            <div class="container_login">
                <h2>Login</h2>
                <form method="POST" action=".">
                    {% csrf_token %}
                    <p><label for="userID">Enter your email</label></p>
                    <p>{{ form.username }}</p>
                    <p><label for="userPWD">Enter your password</label></p>
                    <p>{{ form.password }}</p>
                    {% if form.errors %}
                        <p id="login_error" class="alert">Invalid id or password</p>
                    {% endif %}
                    <p class="submit"><input id="btn_login_submit" type="submit" value="Login" class="red"/><p>
                    <p class="submit"><input id="btn_login_facebook" type="button" value="Login with Facebook" class="blue"/><p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
