<html>
<head>
    <title>Change password</title>
</head>
<body>

<form method="post" action=".">{% csrf_token %}
    <p>{{ form.old_password.errors }}</p>
    <label for="old_password">Current password:</label>{{ form.old_password }}</p>
    <p>{{ form.new_password1.errors }}</p>
    <label for="new_password1">New password1:</label>{{ form.new_password1 }}</p>
    <p>{{ form.new_password2.errors }}</p>
    <label for="new_password2">New password2:</label>{{ form.new_password2 }}</p>
    <input id="change_password_btn" type="submit" value="OK" />
</form>
{% if form.error %}
    <p>Invalid password</p>
{% endif %}